<!DOCTYPE html>
<html>
  <head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="js/index.js"></script>

    <link rel="stylesheet" href="../../bootstrap/css/bootstrap.min.css">

    <meta charset="utf-8" />
    <title>App</title>
</style>
  </head>
  <body>
<div class="container" bis_skin_checked="1">
      <div class="py-5 text-center" bis_skin_checked="1">
        <h2> {{ title }} </h2>
      </div>
          <div class="col-md-12 order-md-1" bis_skin_checked="1">
            <div class="form-group" bis_skin_checked="1">
              <label for="exampleFormControlTextarea1">Body</label>
              <textarea readonly="true" class="form-control" id="exampleFormControlTextarea1" rows="7" spellcheck="false">{{ body }}</textarea>
            </div>
            <hr class="mb-4">
            <a href="javascript:history.back()"><button id="back" style="float: right" class="col-md-12 btn btn-primary btn-lg btn-block" type="button">Back</button></a>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>